{
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "tabWidth": 2,
    "bracketSameLine": true,
    "printWidth": 140,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}