<h1 mat-dialog-title>Json node editor</h1>
<mat-dialog-content class="flex-column-stretch fxFlex">
  <mat-form-field>
    <mat-label>Select node type</mat-label>
    <mat-select [formControl]="jsonNodeTypeControl">
      @for (option of jsonNodeTypes; track option.key) {
        <mat-option [value]="option.key">
          {{ option.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Property name</mat-label>
    <input matInput required [formControl]="jsonNodeNameControl" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="flex-row-center">
  <span class="fxFlex"></span>
  <button mat-button (click)="close()" id="closeButton">Close</button>
  <button mat-stroked-button color="primary" id="submiButton" [disabled]="formGroup.invalid" (click)="submit()">Create json node</button>
</mat-dialog-actions>
