import { Injectable } from '@angular/core';

import { Effect, ActionDispatcher, State, Action } from 'ngssm-store';

@Injectable()
export class <%= classify(name) %>Effect implements Effect {
  public readonly processedActions: string[] = [];

  public processAction(actiondispatcher: ActionDispatcher, state: State, action: Action): void {}
}
