import { Injectable, Provider } from '@angular/core';

import { Effect, Store, State, Action, NGSSM_EFFECT } from 'ngssm-store';

@Injectable()
export class <%= classify(name) %>Effect implements Effect {
  public readonly processedActions: string[] = [];

  public processAction(store: Store, state: State, action: Action): void {}
}

export const <%= providerName %>: Provider = {
  provide: NGSSM_EFFECT,
  useClass: <%= classify(name) %>Effect,
  multi: true
};
