<mat-card fxFlex fxLayout="column" fxLayoutAlign=" stretch" [displayOverlay]="(status$ | async) === dataStatus.loading">
    <mat-card-title fxLayout="row" fxLayoutAlign=" center">
        To-Do List
        <span fxFlex></span>
        <button mat-raised-button color="primary" (click)="addTodo()">
            Add to-do
        </button>
    </mat-card-title>
    <mat-card-content fxFlex fxLayout="row" fxLayoutAlign=" stretch">
        <div fxFlex fxLayout="column">
            <app-todo-item *ngFor="let id of todoItemIds$ | async" [todoId]="id">

            </app-todo-item>
        </div>

        <ag-grid-angular fxFlex class="ag-theme-material" [gridOptions]="gridOptions" [rowData]="todoItems$ | async" [ngssm-ag-grid]="agGridConfig">

        </ag-grid-angular>
    </mat-card-content>
</mat-card>