<mat-card appearance="outlined" [ngssmDisplayOverlay]="(status$ | async) === dataStatus.loading"
    class="flex-column-stretch fxFlex">
    <mat-card-header>
        <mat-card-title class="flex-row-center">
            To-Do List
            <ngssm-remote-data-reload-button [remoteDataKeys]="[remoteDataKey]"></ngssm-remote-data-reload-button>
            <span class="fxFlex"></span>
            <button mat-raised-button color="primary" (click)="addTodo()">
                Add to-do
            </button>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="flex-row-stretch fxFlex">
        <div class="flex-column-stretch fxFlex">
            <app-todo-item *ngFor="let id of todoItemIds$ | async" [todoId]="id">

            </app-todo-item>
        </div>

        <div class="flex-column-stretch fxFlex">
            <div class="flex-row-center">
                <mat-checkbox [formControl]="allowRestoringGridControl">Allow restoring grid?</mat-checkbox>
                <mat-checkbox [formControl]="deleteHiddenControl">Delete hidden?</mat-checkbox>
            </div>
            
            <ag-grid-angular ngssmAgGridTheme class="fxFlex" [gridOptions]="gridOptions" [rowData]="todoItems$ | async"
                [ngssmAgGrid]="agGridConfig">

            </ag-grid-angular>
        </div>
    </mat-card-content>
</mat-card>