<mat-card class="flex-column-stretch fxFlex">
    <mat-card-title class="flex-row-center">
        Notifications Demo
    </mat-card-title>
    <mat-card-content class="flex-row-start fxFlex">
        <mat-card class="notification-container flex-column-stretch">
            <mat-card-title class="flex-row-center">
                Notification
                <span class="fxFlex"></span>
                <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
                    (click)="displayNotification()">
                    Display notification
                </button>
            </mat-card-title>
            <mat-card-content class="flex-column-stretch">
                <mat-form-field>
                    <mat-label>Notification type</mat-label>
                    <mat-select [formControl]="typeControl">
                        <mat-option *ngFor="let level of notificationTypes" [value]="level">
                            {{level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Notification title</mat-label>
                    <input matInput [formControl]="titleControl">
                </mat-form-field>
                <mat-card class="notification-details-container flex-column-stretch">
                    <mat-card-subtitle>Notification details</mat-card-subtitle>
                    <ngssm-ace-editor class="fxFlex" (contentChanged)="onContentChanged($event)" [readonly]="false"
                        [editorMode]="ngssmAceEditorMode.json">
                    </ngssm-ace-editor>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>