@if (node(); as currentNode) {
  <div class="flex-row-center fxFlex">
    @switch (currentNode.type) {
      @case (jsonNodeType.object) {
        <div class="flex-row-center fxFlex">
          <span class="fxFlex"></span>
          <button mat-stroked-button color="primary" (click)="newProperty()">
            <mat-icon class="fa-solid fa-plus"></mat-icon>
            New property
          </button>
          <button mat-icon-button color="warn" matTooltip="Delete node" (click)="deleteNode()" [disabled]="canDelete() === false">
            <mat-icon class="fa-solid fa-trash-can"></mat-icon>
          </button>
        </div>
      }

      @case (jsonNodeType.value) {
        <div class="flex-row-center fxFlex">
          <span class="fxFlex"></span>
          <button mat-icon-button color="warn" matTooltip="Delete node" (click)="deleteNode()" [disabled]="canDelete() === false">
            <mat-icon class="fa-solid fa-trash-can"></mat-icon>
          </button>
        </div>
      }
    }
  </div>
}
