import { Injectable } from '@angular/core';

import { Reducer, State, Action } from 'ngssm-store';

@Injectable()
export class <%= classify(name) %>Reducer implements Reducer {
  public readonly processedActions: string[] = [];

  public updateState(state: State, action: Action): State {
    return state;
  }
}
