<mat-card class="flex-column-stretch fxFlex">
  <mat-card-header>
    <mat-icon class="fa-solid fa-folder-tree" mat-card-avatar color="primary"></mat-icon>
    <mat-card-title>ngssm-tree demo</mat-card-title>
    <mat-card-subtitle>
      <ngssm-breadcrumb [treeId]="'demo'"></ngssm-breadcrumb>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex-row-stretch fxFlex">
    <mat-card class="flex-column-stretch tree-container">
      <mat-card-header>
        <mat-card-title> ngssm-tree 'demo' with no filter </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-column-stretch fxFlex">
        <ngssm-tree class="fxFlex" [treeConfig]="treeConfig"></ngssm-tree>
      </mat-card-content>
    </mat-card>

    <mat-card class="flex-column-stretch tree-container">
      <mat-card-header>
        <mat-card-title> ngssm-tree 'demo' with only the folders displayed </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-column-stretch fxFlex">
        <ngssm-tree class="fxFlex" [treeConfig]="treeConfigForFolders"></ngssm-tree>
      </mat-card-content>
    </mat-card>

    <mat-card class="flex-column-stretch selection-container">
      <mat-card-header>
        <mat-card-title> ngssm-tree 'demo' - selection </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-column-stretch fxFlex">
        <ag-grid-angular
          ngssmAgGridTheme
          class="fxFlex"
          [gridOptions]="gridOptions"
          [rowData]="selectedNodeChildren()"
          [ngssmAgGrid]="agGridConfig">
        </ag-grid-angular>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
