.ngssm-shell-navigation-container {
    a {
        text-decoration: none;
    }

    .active-link {
        color: blue !important;
    }

    .mat-icon {
        margin-right: 6px;
        width: 26px;
    }
}

.ngssm-shell-main-container mat-sidenav {
    min-width: 360px;
    max-width: 360px;
    overflow: hidden;
}

.ngssm-shell-navigation-header {
    font-size: 18px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ngssm-shell-navigation-link {}

.ngssm-shell-navigation-link-content {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}