.ngssm-chip {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 12px;
    border: 2px solid;
    padding: 6px;
    border-radius: 10px;
}

.with-margin-right-12 {
    margin-right: 12px !important;
}

.with-margin-left-12 {
    margin-left: 12px !important;
}