.ngssm-expression-tree {
    --ngssm-expression-tree-node-divider-color: blue;

    .ngssm-expression-tree-node {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-right: 12px;
    }

    .ngssm-expression-tree-node-divider {
        border-color: var(--ngssm-expression-tree-node-divider-color);
    }

    #expandIcon:hover,
    #collapseIcon:hover {
        cursor: pointer;
    }

    #collapseIcon,
    #expandIcon {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }

    .ngssm-expression-tree-node-label {
        font-weight: bold;
        margin-left: 8px;
    }

    .ngssm-expression-tree-nodes-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }

    .ngssm-expression-tree-content {
        overflow: hidden;
    }

    .ngssm-expression-tree-node-detail-component {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: stretch;
    }
}

.ngssm-expression-tree-context-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
    border: solid 1px gray;
}

.ngssm-expression-tree-context-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.ngssm-expression-tree-context-menu-item:hover {
    background-color: rgb(208, 208, 208);
}