<h2 mat-dialog-title>{{ dialogTitle() }}</h2>
<mat-dialog-content class="flex-column-stretch fxFlex">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput required [formControl]="titleControl" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="flex-row-center">
  @if (submittingTodo()) {
    <div class="flex-row-center">
      <mat-spinner diameter="20"></mat-spinner>
      Please wait while processing your request...
    </div>
  }

  <span class="fxFlex"></span>
  <button mat-button (click)="closeEditor()" [disabled]="submittingTodo()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="titleControl.invalid || submittingTodo()" (click)="submit()">
    {{ submitLabel() }}
  </button>
</mat-dialog-actions>
