<mat-card class="flex-column-stretch fxFlex">
    <mat-card-header>
        <mat-icon class="fa-solid fa-sitemap" mat-card-avatar color="primary"></mat-icon>
        <mat-card-title>ngssm-expression-tree demo</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex-column-stretch fxFlex">
        <div class="flex-column-stretch fxFlex tree-container">
            <ngssm-expression-tree class="fxFlex" [treeConfig]="treeConfig"></ngssm-expression-tree>
        </div>
    </mat-card-content>
</mat-card>