<div class="fxFlex flex-row-stretch">
  <mat-card class="fxFlex flex-column-stretch with-margin-right-12">
    <mat-card-header>
      <mat-card-title>State and commands</mat-card-title>
    </mat-card-header>
    <mat-card-content class="fxFlex flex-column-stretch">
      <button mat-stroked-button color="primary" (click)="componentWithStateRendered.set(!componentWithStateRendered())">
        @if (componentWithStateRendered()) {
          Remove
        } @else {
          Display
        }
        component with local state
      </button>
      <ngssm-ace-editor class="fxFlex" [content]="state()" [editorMode]="'ace/mode/json'" [readonly]="true"> </ngssm-ace-editor>
    </mat-card-content>
  </mat-card>
  <mat-card class="fxFlex flex-column-stretch with-margin-right-12">
    <mat-card-header>
      <mat-card-title>Component with local feature state</mat-card-title>
    </mat-card-header>
    <mat-card-content class="fxFlex flex-column-stretch">
      @if (componentWithStateRendered()) {
        <ngssm-component-with-feature-state class="fxFlex"></ngssm-component-with-feature-state>
      }
    </mat-card-content>
  </mat-card>
</div>
