.ngssm-sidenav {

    .ngssm-sidenav-item-container,
    .ngssm-sidenav-section-item-container {
        cursor: default !important;
    }
}

.ngssm-sidenav-main-container {
    padding-top: 8px;

    a {
        text-decoration: none;
        color: inherit;
    }

    .ngssm-sidenav-title {
        font-size: 24px;
        margin-bottom: 12px;
        text-align: center;
    }
}

.ngssm-sidenav-item-icon {
    margin-right: 12px;
}

.ngssm-sidenav-section-container {}

.ngssm-sidenav-section-item-container {
    font-size: 20px !important;
    height: 48px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;

    .ngssm-sidenav-section-item {
        width: 100%;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1e-9px;
    }
}

.ngssm-sidenav-item-container {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    .ngssm-sidenav-section-item {
        padding-left: 15px;
        width: 100%;
    }
}

.ngssm-sidenav-active-link {
    color: blue !important;
}