@use 'sass:map';
@use '@angular/material' as mat;

.ngssm-shell {
    display: flex;
    flex-direction: column;

    mat-sidenav-container,
    .ngssm-shell-container,
    .ngssm-shell-notifications,
    .ngssm-fxFlex {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1e-9px;
    }

    mat-sidenav-content {
        display: flex;
        flex-direction: column;
    }

    .ngssm-shell-container {
        display: flex;
        flex-direction: column;
    }

    .ngssm-shell-header {
        background: mat.get-color-from-palette(mat.$indigo-palette, 500);
        color: mat.get-color-from-palette(mat.$indigo-palette, 50);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ngssm-shell-notifications {
        height: 100%;
    }

    .ngssm-shell-messages-bar {
        display: flex;
        flex-direction: column;

        .mat-drawer-inner-container {
            display: flex !important;
            flex-direction: column;
        }
    }
}

.ngssm-shell-header-logo {
    height: 50px;
    margin-right: 10px;
}

.ngssm-shell-header-title {
    font-size: 24px;
}

.ngssm-shell-navigation-bar {
    min-width: 250px;
    max-width: 250px;
}

.ngssm-shell-content {
    flex: 1;
    display: flex !important;
    flex-direction: column;
}

.ngssm-shell-footer {
    min-height: 50px;
    max-height: 50px;
    border-top: thick double mat.get-color-from-palette(mat.$indigo-palette, 500);

    ngssm-wrapper {
        margin-right: 4px;
    }
}

.ngssm-shell-no-config {
    color: red;
    font-weight: bold;
    font-size: 2em;
}

.ngssm-shell-notification-snack-panel {
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
}

.ngssm-shell-notification-card {
    .ngssm-shell-avatar-notification {
        font-size: 42px;
        border-radius: unset !important;
        width: unset !important;
    }

    .ngssm-shell-notification-success {
        color: green;
    }

    .ngssm-shell-notification-error {
        color: red;
    }

    .mat-mdc-button {
        color: lightgray;
        font-style: italic;
    }
}