.cell-with-no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ngssm-ag-editable-cell {
    display: flex !important;
    flex-direction: row;
}

.ngssm-ag-editable-cell::before {
    font-family: 'FontAwesome', sans-serif;
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
    content: "\f303";
}