/* You can add global styles to this file, and also import other style files */
@use '@angular/material'as mat;

@use "ngssm-toolkit/styles/ngssm.scss";

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.elevation-classes();
// @include mat.app-background();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $ng-simple-state-management-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
// $ng-simple-state-management-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
// $my-typography: mat.m2-define-typography-config();

// // The warn palette is optional (defaults to red).
// $ng-simple-state-management-warn: mat.m2-define-palette(mat.$m2-red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $ng-simple-state-management-theme: mat.m2-define-light-theme((color: (primary: $ng-simple-state-management-primary,
//             accent: $ng-simple-state-management-accent,
//             warn: $ng-simple-state-management-warn,
//         ),
//         typography: $my-typography));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($ng-simple-state-management-theme);

@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

// :root {
//     @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary-container),
//             container-text-color: var(--mat-sys-primary),
//         ));
// }

html {
    @include mat.theme((color: (theme-type: light,
                primary: mat.$blue-palette,
                tertiary: mat.$blue-palette),
            typography: Roboto,
            density: 0,
        ));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.primary-color {
    color: var(--mat-sys-primary) !important;
}

.mat-icon.mat-primary {
    color: var(--mat-sys-primary) !important;
}