:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;

    .sub-card {
        .mat-mdc-card-title {
            font-size: 16px;
        }

        margin: 4px;
    }

    .file-picker-demo {
        width: 500px;
        height: 400px;

        mat-card-content {
            overflow: auto;
        }

        .file-picker-icon {
            width: 24px !important;
        }
    }

    .notifier-demo,
    .regex-editor-demo,
    .confirmation-demo,
    .component-display-directive-demo {
        width: 300px;
        height: 400px;
    }

    app-overlay-demo {
        width: 800px;
        height: 400px;
        margin-left: 12px;
    }
}