<mat-card appearance="raised" class="flex-column-stretch fxFlex">
    <mat-card-header>
        <mat-card-title>Demo of the components provided by the ngssm-toolkit library</mat-card-title>
    </mat-card-header>
    
    <mat-card-content class="flex-row-start flex-wrap fxFlex">
        <mat-card appearance="raised" class="sub-card file-picker-demo flex-column-stretch">
            <mat-card-header>
                <mat-card-title>File Picker</mat-card-title>
            </mat-card-header>
            
            <mat-card-content class="flex-column-stretch fxFlex">
                <mat-form-field>
                    <mat-label>Select file</mat-label>
                    <ngssm-file-picker [formControl]="fileControl"
                        [displayDetails]="displayFilePickerDetailsControl.value ?? true"></ngssm-file-picker>
                    <mat-icon matPrefix class="fa-solid fa-folder-open file-picker-icon" color="primary"></mat-icon>
                </mat-form-field>
                <mat-checkbox [formControl]="displayFilePickerDetailsControl">Display details</mat-checkbox>
                <mat-checkbox [formControl]="filePickerDisabledControl">File picker disabled</mat-checkbox>
                {{fileControl.value?.name}}
            </mat-card-content>
        </mat-card>
        <app-overlay-demo></app-overlay-demo>
    </mat-card-content>
</mat-card>